<div class="container mt-5">
    <h1 class="text-center">Formulario Cadastro</h1>

    <form [formGroup]="formDataDriven" (submit)="formData()">
        <div class="row mt-3">
            <div class="col">
                <label>Informe o Nome: </label>
                <input class="form-control" type="text"  placeholder="Informe o Nome" formControlName="nome">
            </div>
        </div>
       <div class="row mt-3">
            <div class="col">
                <label>Informe o Sexo: </label>
                <input class="form-control" type="text"  placeholder="Informe o Sexo " formControlName="sexo">
            </div>
       </div>
       <div class="row mt-3">
            <div class="col">
                <label>E-mail: </label>
                <input class="form-control" type="email"  placeholder="E-mail" formControlName="email">
            </div>
       </div>
       <div class="row mt-3">
        <div class="col">
            <label>Cidade:  </label>
            <input class="form-control" type="text"  placeholder="Cidade" formControlName="cidade">
        </div>
            </div>
       <div class="row">
            <div class="col">
                <button class="btn btn-primary mt-3" type="submit">Enviar</button>
            </div>
       </div>       
    </form>
</div>
